@page "{id?}"
@model EditJobAdModel
@inject SyncfusionOptionsService SyncfusionOptions

@{
    ViewData["Title"] = "Edit Job";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12 px-0">
        <form method="post">
            <div class="form-group col-md-4">
                <label asp-for="Dto.Name"></label>
                <input asp-for="Dto.Name" autocomplete="off" class="form-control" value="@Model.JobAd.Name" />
                <span class="text-danger" asp-validation-for="Dto.Name"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="Dto.Position"></label>
                <input asp-for="Dto.Position" autocomplete="off" class="form-control" value="@Model.JobAd.Position" />
                <span class="text-danger" asp-validation-for="Dto.Position"></span>
            </div>
            @*<div class="form-group col-md-4">
                    <label asp-for="Input.Description"></label>
                    <input asp-for="Input.Description" autocomplete="off" class="form-control" value="@Model.JobAd.Description" />
                    <span class="text-danger" asp-validation-for="Input.Description"></span>
                </div>*@
            <div class="form-group col-md-8">
                <label asp-for="Dto.Description"></label>
                <!-- RTE Component -->
                <ejs-richtexteditor id="rteEdit"
                                    editorMode="HTML"
                                    enableTabKey="true"
                                    ejs-for="Dto.Description"
                                    showCharCount="true"
                                    maxLength="2000"
                                    beforeSanitizeHtml="beforeSanitizeHtml"
                                    enableResize="true">
                    <!-- Cleanup copied content from the web -->
                    <e-richtexteditor-pastecleanupsettings plainText="true" />
                    <!-- Toolbar setting - The lists with the RTE options are no longer in the code behind, but can now be injected directly into the view. -->
                    <e-richtexteditor-toolbarsettings items=@SyncfusionOptions.GetRTEOptionsListMinimal();
                                                      enable="true">
                    </e-richtexteditor-toolbarsettings>
                    <e-content-template>
                        Dto.Description
                    </e-content-template>
                </ejs-richtexteditor>
                <!-- RTE Component -->
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Dto.MainSkills"></label>
                <input asp-for="Dto.MainSkills" autocomplete="off" class="form-control" value="@Model.JobAd.MainSkills" />
                <span class="text-danger" asp-validation-for="Dto.MainSkills"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Dto.Region"></label>
                <input asp-for="Dto.Region" autocomplete="off" class="form-control" value="@Model.JobAd.Region" />
                <span class="text-danger" asp-validation-for="Dto.Region"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Dto.StartDate"></label>
                <input id="dateInput" asp-for="Dto.StartDate" class="form-control" value="@Model.JobAd.StartDate.ToString("yyyy-MM-dd")" />
                <span class="text-danger" asp-validation-for="Dto.StartDate"></span>
            </div>

            <!-- Buttons -->
            <div class="col-md-4">
                <button type="submit" class="btn btn-secondary">@Constants.BtnSave</button>
                <button class="btn btn-secondary" asp-page-handler="CancelButton" formnovalidate>@Constants.BtnCancel</button>
            </div>
        </form>
    </div>
</div>

<!-- Valdiates user input and shows error messages -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
/* Syncfusion RTE - Min and Max Resize Value */
.e-richtexteditor {
    min-width: 500px;
    max-width: 800px;
    min-height: 200px;
    max-height: 350px;
}
/* -------------------------------------------------- */
</style>