@page "{id}"
@model EditUserModel
@{
    ViewData["Title"] = "Benutzer bearbeiten";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12 px-0">
        <form method="post">
            <div class="form-group col-md-4">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" autocomplete="off" disabled class="form-control" value="@Model.User.FirstName" />
                <span class="text-danger" asp-validation-for="Input.FirstName"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" autocomplete="off" class="form-control" value="@Model.User.LastName" />
                <span class="text-danger" asp-validation-for="Input.LastName"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" autocomplete="off" class="form-control" value="@Model.User.Email" />
                <span class="text-danger" asp-validation-for="Input.Email"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.User.Role"></label>
                <input class="form-control" value="@Model.User.Role" />
                <span class="text-danger" asp-validation-for="Input.Email"></span>
            </div>
            
            <!-- Buttons -->
            <div class="col-md-4">
                <button type="submit" class="btn btn-secondary">@Constants.BtnSave</button>
                <button class="btn btn-secondary">@Constants.BtnCancel</button>
            </div>
        </form>
    </div>
</div>